*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}
.container{
	max-width: 1950px;
	width: 100%;
	margin: 0 auto; /*საიტის ცენტრი რომ ეკავოს*/
	position: relative;
}	
.background{
	margin: 0 auto;
}

.blue-object{
	top: 59%;
	right: -10%;
	transition-property: all;
	transition-delay: 1sec;		/*რამდენ ხანში დაიწყოს*/
	transition-duration: 10sec;	/*რამდენი ხანი გაგრძელდეს*/
	transition-timing-function: linear;
}

.blue-object:hover{


}

.green-object{
	top: 82%;
	left: -10%;
	transform: rotateY(180deg); /*სურათი იყო უკუღმა და შემოვაბრუნე*/
	transition-property: all;
}
.green-object:hover{

}



